<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="api-processing-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.api.processing.TestRunListener" />
    <listener class-name="org.opengis.cite.api.processing.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.api.processing.TestFailureListener" />
  </listeners>

  <test name="Conformance Level 1">
    <packages>
      <package name="org.opengis.cite.api.processing.core" />
    </packages>
    <classes>
      <class name="org.opengis.cite.api.processing.SuitePreconditions" />
    </classes>
  </test>
  <!-- Add test sets for other conformance classes/levels -->
</suite>
